@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0F0F0F;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
}

.container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  height: 70%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  background: rgba(12, 12, 12, 0.08);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.circle1 {
  width: 250px; height: 250px;
  background: linear-gradient(90deg, #61003A, #2D0A30);
  top: 10%; left: 10%;
  opacity: 0.7;
}

.circle2 {
  width: 200px; height: 200px;
  background: linear-gradient(90deg, #61003A, #2D0A30);
  bottom: 10%; right: 10%;
  opacity: 0.7;
}

.icon-check {
  margin-bottom: 20px;
}

.icon-check svg {
  width: 80px; height: 80px;
  stroke: #0f0; /* Green check */
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-btn {
  margin-top: 20px;
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #E948C5, #CD407B, #75042D);
  transition: 0.3s;
}

.login-btn:hover {
  background: linear-gradient(90deg, #75042D , #CD407B, #E948C5);
}



